



#fm{
background-color: red;
}
#actress{
background-color: pink;
}
#blocker{
background-color: white;
}

.fruit{
	position: absolute;
	right: 1100px;
	bottom: 450px;
	border: 0px;
}

.mine {
	font-size: 50px;
}